
{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1 style="">404 - Not found</h1>
  <!--<div style="display: grid; grid-template-rows: repeat(1, minmax(0, 1fr)); gap: 1.25rem; grid-template-columns: repeat(2, minmax(0, 1fr));">
    <a href="https://redux.wtf/join" style="padding: 5px; background-color: #fdbd24; color: white; border-radius: 0.2rem; max-width: 5rem;">Discord</a>
    <a href="https://redux.wtf/join" style="padding: 5px; background-color: #fdbd24; color: white; border-radius: 0.2rem; max-width: 5rem;">Discord</a>
  </div> -->
{% endblock %}
{% block htmltitle %}
    <title>Not Found - Redocs</title>
{% endblock %}